importFrom(colorspace, RGB)
importFrom(colorspace, coords)
export(col2hcl)
export(muted)
export(alpha)
export(comma)
export(dollar)
export(percent)
export(scientific)
export(alpha_pal)
export(brewer_pal)
importFrom(dichromat, colorschemes)
export(dichromat_pal)
export(gradient_n_pal)
export(div_gradient_pal)
export(seq_gradient_pal)
export(grey_pal)
importFrom(grDevices, hcl)
export(hue_pal)
export(linetype_pal)
export(manual_pal)
export(shape_pal)
export(size_pal)
export(area_pal)
export(rescale)
export(rescale_mid)
export(censor)
export(clip)
export(clip_infinite)
import(RColorBrewer, stringr, munsell, plyr)
export(cscale)
export(dscale)
export(new_trans)
export(asn_trans)
export(atanh_trans)
export(boxcox_trans)
export(exp_trans)
export(identity_trans)
export(log_trans)
export(probability_trans)
export(reciprocal_trans)
export(reverse_trans)
export(sqrt_trans)
